$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;


body {
  background-color: $background-color;
  color: $font-color;

}

.box {
  border: 1px solid $white;
  height: 200px;
  pointer-events: none;
  width: 200px;
  font-size: 70px;
  text-align: center;
  font-size-adjust: auto;
  line-height: 200px;

  &:hover {
    background-color: $white;
  }
}
